<div class="top-bar">
    <button (click)="updateSubPage(0)"> Explore </button>
    <button (click)="updateSubPage(1)"> My Blogs </button>
    <button (click)="updateSubPage(2)"> About </button>
</div>

<div *ngIf="currentSubPage == MY_BLOGS">
    <div class="formulated-message" *ngIf="myBlogs.length == 0">
        <h1> You have no blogs. </h1>
        <span> You can create blogs by clicking the "Create Blog" button. If you didn't know that already, ask on stack overflow how to drink bleach. </span>
    </div>
    <div class="blogs-container">
        <div class="blog" *ngFor="let blog of myBlogs;let i = index"> 
            <div class="top-section">
                {{blog.title}}
                <span>{{blog.authorName}}</span>
            </div>
            <div class="middle-section">
                {{blog.description}}
            </div>
            <div class="bottom-section">
                <button (click)="viewBlog(blog)"> View Content </button>
                <button (click)="editBlog(blog)"> Edit Blog </button>
                <button (click)="deleteBlog(i)"> Delete Blog </button>
            </div>
        </div>
    </div>
    <button class="create-blog-button" (click)="createBlog()">Create Blog</button>
</div>

<div *ngIf="currentSubPage == ABOUT">
    <div class="formulated-message">
        <h1> About Page </h1>
        <span> What? You thought I'd actually make a legit about page? </span>
    </div>
</div>

<div *ngIf="currentSubPage == EXPLORE">
    <div class="formulated-message" *ngIf="blogs.length == 0">
        <h1> There are no blogs </h1>
        <span> It's your returning champion Elgitensity, AKA Trappie Chan </span>
    </div>
    <div class="blogs-container">
        <div class="blog" *ngFor="let blog of blogs;let i = index"> 
            <div class="top-section">
                {{blog.title}}
                <span>{{blog.authorName}}</span>
            </div>
            <div class="middle-section">
                {{blog.description}}
            </div>
            <div class="bottom-section">
                <button (click)="viewBlog(blog)"> View Content </button>
                <button *ngIf="blog.authorName == username" (click)="editBlog(blog)"> Edit Blog </button>
                <button *ngIf="blog.authorName == username" (click)="deleteBlog(i)"> Delete Blog </button>
            </div>
        </div>
    </div>
</div>

<div class="view-page" *ngIf="currentSubPage == VIEW_BLOG && selectedBlog !== undefined">
    <div class="blog-content-container">
        <h1>{{selectedBlog.title}}</h1>
        <p> {{selectedBlog.description}}</p>
        <span>By: {{selectedBlog.authorName}}  </span>
    </div>
</div>

<app-blog-create-edit *ngIf="currentSubPage == CREATE_EDIT_BLOG" [blogToEdit]="selectedBlog" [pageFunctionMode]="currentEditMode" (finishEditEvent)="saveEditChanges()"></app-blog-create-edit>